name: Run test cases

on: workflow_call

jobs:
  run-test-cases:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [
          ubuntu-latest, 
          macos-latest, 
          windows-latest
          ]
        node-version: [14.x, 15.x, 16.x]

    steps:
    - name: Get branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: get_branch

    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install packages and run test cases
      env:
        NODE_OPTIONS: "--max_old_space_size=4096"
      run: |
        npm install
        npm test

    - name: Coveralls (Uploading test report)
      if: ${{ steps.get_branch.outputs.branch == 'master' }}
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}