name: Merge CI

on:
  push:
    branches: [ master, CI/CD-fix ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [
          ubuntu-latest, 
          macos-latest, 
          # windows-latest
          ]
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install, npm test, 
      run: |
        npm install
        npm test
        
    - name: Coveralls (Uploading test report)
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}